<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <h1>Welcome To Tic-Tac-Toe PWA By Sanuj</h1>
    <h3>Try installing the app on respective device So that you can play it offline</h3>
    <button (click)="startNew()">Start New Game</button>
    <br>
    <br>
    <div>Current Player is {{user}}</div>
    <br>
    <div class="square">
    <app-square *ngFor="let val of squares; let i = index" [mark]="val" (click)="move(i)"></app-square>
    </div>
    <div *ngIf="won">Congratulations You Are The winner {{user}}</div>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
